body {
    padding: 80px;
    background: rgb(11,9,10);
background: linear-gradient(145deg, rgba(11,9,10,1) 0%, rgba(22,26,29,1) 35%, rgba(102,7,8,1) 100%);
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: white;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #e5e5e5;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}



#headingGroup span {
    color: white;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}



@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
img{
    border-radius: 5%;
}




.zoom-effect-container {
    float: left;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}


.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

div.at-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .at-item {
    color: #6d0808;
    animation-name: text-flicker-in-glow;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
  }
  @keyframes text-flicker-in-glow {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 0;
      text-shadow: none;
    }
    11%{
      opacity: 1;
      text-shadow: none;
    }
    12%{
      opacity: 0;
      text-shadow: none;
    }
    20%{
      opacity: 0;
      text-shadow: none;
    }
    21%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.25);
    }
    22%{
      opacity: 0;
      text-shadow: none;
    }
    30%{
      opacity: 0;
      text-shadow: none;
    }
    31%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
    }
    32%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
    }
    33%{
      opacity: 0;
      text-shadow: none;
    }
    45%{
      opacity: 0;
      text-shadow: none;
    }
    46%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
    }
    55%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
    }
    56%{
      opacity: 0;
      text-shadow: none;
    }
    57%{
      opacity: 0;
      text-shadow: none;
    }
    58%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);
    }
    60%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);
    }
    61%{
      opacity: 0;
      text-shadow: none;
    }
    65%{
      opacity: 0;
      text-shadow: none;
    }
    66%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);
    }
    75%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);
    }
    76%{
      opacity: 0;
      text-shadow: none;
    }
    77%{
      opacity: 0;
      text-shadow: none;
    }
    78%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);
    }
    85%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);
    }
    86%{
      opacity: 0;
      text-shadow: none;
    }
    87%{
      opacity: 0;
      text-shadow: none;
    }
    88%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);
    }
    100%{
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);
    }
  }
  h1{
      text-transform: uppercase;
      font-weight: bolder;
      color: #FFFFFF;
      text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;  }
h2{
    text-transform: uppercase;
    font-weight: bolder;
    color: #FFFFFF;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;